.commentsSection {
    font-family: "PT Sans"; 
    background: #626F47;
    /* border-radius: 10px; */
    /* border: 2px solid #fff; */
    padding: 0 10px;

    box-shadow: 1px 1px 2px #626F47;
    align-self: center;
    width: 100%
}

.commentCard {
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    border: solid #fff 2px;
    box-shadow: 3px 3px 2px #555;
    background: #7C8C3D;
    display: flex;
    flex-direction: column;
    width: 90%;
       
   
}

.commentTitle {
  
    font-family: "PT Sans";
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 3px 3px 5px #555;
    width: 100%;
    text-align: center;
    margin-bottom : auto;
    margin-top: 0;
    
    
}

.commentAuthor {
    font-size: 18px;
    margin-top: -20px;
    font-weight: bold;
    color: #fff;
    margin-top: 1px;
    
}
.commentTimeStamp {
    font-size: 12px;
    color: #fff;
    padding-left: 5px;
    margin-top: auto;
    margin-left: -5px;
}

.commentBody {
    margin-top: -10px;
    color: #fff;
    background: #7C8C3D;
}

