.commentForm {
    display: flex;
    align-items: right;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    border-radius: 10px;
    width: 97%;
    flex-grow: 1;
    background: #dadada;
}

.commentBox {
    font-family: "PT Sans";  
    border-top: solid #626F47 2px;
    border-bottom: solid #626F47 2px;
    border-radius: 10px;
    background-color: #e7e7e7;
    color: #4e4e4e;
    padding: 5px;
}

.commentSubmitButton {
    font-family: "PT Sans";
    font-size: 16px;
    background-color: #A4B465;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #333;
}

.commentSubmitButton:hover {
    background-color: #fff;
    color: #626F47;
}