.commentsSection {
    font-family: "Jersey 15", sans-serif;  
    background: #dadada;
    border-radius: 10px;
    border: 2px solid #2f5056;
    padding: 10px;
    box-shadow: 1px 1px 2px #2f5056;
}

.commentCard {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    border-top: solid #2f5056 2px;
    border-bottom: solid #2f5056 2px;
    box-shadow: 1px 1px 2px #2f5056;
    background: white;
    display: flex;
    flex-direction: column;
}

.commentTitle {
  
    font-family: "Press Start 2p", cursive;
    font-size: 14px;
    color: #2f5056;
    text-shadow: 3px 3px 5px #de9a89;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    
    
}

.commentAuthor {
    font-size: 20px;
    margin-top: -20px;
    font-weight: bold;
    color: #2f5056;
}
.commentTimeStamp {
    font-size: 12px;
    color: #2f5056;
    padding-left: 5px;
    
    margin-left: -5px;
}

.commentBody {
    margin-top: -10px;
    color: #444;
    background: white;
}

