.commentDeleteButton {
    align-self: flex-end;
    float: right;
    font-size: 14px;
    background-color: #2f5056;
    color: #de9a89;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #de9a89;
}