html, body {  
    font-family: "Jersey 15", sans-serif;   
    background: #00323b; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

.articleListContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    background: #2f5056;
    border-radius: 10px;
    margin-top: 115px;
    width: 100%;
    margin-left: -10px;
    margin-right: 0;
}

.articleSortControls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: #2f5056;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Jersey 15", sans-serif;
    width: 94%;
}

.articleSortControls label {
    color: #de9a89;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

.articleSortControls select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #2f5056;
    border-radius: 5px;
    background-color: #43727a;
    color: white;
    outline: none;
    cursor: pointer;
}

.articleSortControls select:focus {
    border-color: #de9a89;
    background-color: #43727a;
}

.articleSortControls select option {
    background-color: #de9a89;
    color: #333;
}

/* Pin the 'Order' controls to the right */
.articleSortControls label:last-child {
    margin-left: auto;
}

.articleSortControls select:last-child {
    margin-left: auto;
}

.articleHeader {
    /* z-index: 1001; */
    /* display: flex; 
    justify-content: space-between;
    align-items: center; */
    font-family: "Press Start 2p", cursive;
    font-size: 14px;
    color: #de9a89;
    width: 93%;
    padding: 5px 0;
    /* font-family: "Press Start 2p", cursive;
    font-size: 14px;
    color: #de9a89;
    width: 100%; */
}

.articleListCard {
    background: #dadada;
    border: 2px solid #2f5056;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
    min-height: 30px;
    box-shadow: 0 0 15px 15px rgba(47, 80, 86, 0.8);
    font-family: "Jersey 15", sans-serif; 
    width: 100%;
   
}

.articleListTitle {
    font-family: "Press Start 2p", cursive;
    font-size: 14px;
    font-weight: bold;
    color: #2f5056;
    background: #dadada;
    padding-top: 3px;
    margin-bottom: 3px;
    text-shadow: 3px 3px 5px #de9a89;
}



.articleAuthor {
    font-family: "Jersey 15", sans-serif;   
    font-size: 16px;
    color: #555;
    margin: 0;
}

.articleTimeStamp {
    font-family: "Jersey 15", sans-serif;   
    font-size: 14px;
    color: #777;
    margin: 0;
}

.articleListVotes {
    font-family: "Jersey 15", sans-serif;   
    font-size: 18px;
    color: #2f5056;
    text-shadow: 1px 1px 1px #de9a89;
    margin-left: 0px;
    text-align: right;
    margin-top: -30px;
    padding-right: 10px;
    align-self: right;
    
   
    
}

