body {
  font-family: "Jersey 15", sans-serif;
  color: white;
  background: #00323b;
  flex-wrap: nowrap;
  width: 100%;
  height: 100px;
}

.articleTitle {

}

.articleListContainer {
display: flex;
flex-direction: column;

}

.articleContainer {

}

.articleListCard {

}
