body {  
    font-family: "Jersey 15", sans-serif;   
    background: #00323b; 
    margin: 0;
    padding: 0;
    width: 100%
}

.articleReadPage {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    margin-top: 120px;
    border-radius: 10px;
    width: 97%;
    flex-grow: 1;
    background: #dadada;
    /* position: relative; */
}

.articleReadTitle {
    /* z-index: 1001; */
    font-family: "Press Start 2p", cursive;
    font-size: 14px;
    color: #de9a89;
    border-top: solid #2f5056 2px;
    border-bottom: solid #2f5056 2px;
    border-radius: 10px;
    background: white;
    padding: 5px;
    width: 98%;
    min-height: 50px;
    text-shadow: 1px 1px 2px #2f5056;
    box-shadow: 1px 1px 2px #2f5056;
}

.articleReadAuthor {
    font-family: "Jersey 15", sans-serif; 
    font-size: 16px;
    color: #2f5056;
    margin: 0;
    padding-left: 40px;
}

.articleReadTimeStamp {
    font-family: "Jersey 15", sans-serif; 
    font-size: 14px;
    color: #2f5056;
    margin: 0;
    padding-left: 40px;
}



.articleReadBody {
    border-top: solid #2f5056 2px;
    border-bottom: solid #2f5056 2px;
    box-shadow: 1px 1px 2px #2f5056;
    padding: 5px;
    font-family: "Jersey 15", sans-serif;
    font-size: 18px;
    color: #2f5056;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: 5px;
    
}

.voteContainer {
    font-family: "Jersey 15", sans-serif; 
    display: flex;
    align-items: center;
    align-self: flex-end;
    flex-direction: column;
    width: fit-content;
    margin-top: -20px;
    

    
    
    
}

.articleVotes {
    display: flex;
    align-items: right;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    border-radius: 10px;
    width: fit-content;
    flex-grow: 1;
    background: #dadada;
    font-size: 18px;
    color: #2f5056;
    text-shadow: 1px 1px 1px #de9a89;
    margin-left: 5px;
    text-align: right;
    margin-top: 0px;
    gap: 5px;
    
    
}


.voteButton {
    font-family: "Press Start 2p", cursive;
    font-size: 14px;
    background-color: #2f5056;
    color: #de9a89;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #de9a89;
    width: 90px;
    align-self: flex-end;
}

.voteButton:hover {
    background-color: #de9a89;
    color: #2f5056;
}


