body {  
    font-family: "PT Sans";
    background: #626F47;
    margin: 0;
    padding: 0;
    width: 100%
}

.topicListContainer {
	margin-top: 120px;
    padding: 20px;
    text-align: center;
  
    
}

.topicListHeader {
	font-size: 24px;
	margin-bottom: 20px;
    
}

.topicList {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
	flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.topicListCard {
    font-family: "Press Start 2p", cursive; 
	background: #7C8C3D;
    padding: 15px 20px;
	border-radius: 8px;
    border: solid white 2px;
	box-shadow: 4px 4px 4px #555;
	transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
    min-width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
   
}

.topicListCard:hover {
    transform: scale(1.01);
}


.topicListCard a {
	width: 100%; 
	display: block;
}

.topicListTitle {
	text-decoration: none;
    font-family: "PT Sans";
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	display: block;
	padding: 5px;
	text-align: center;
    width: 100%;
}

.topicListTitle:hover {
    color: #F5ECD5;
	
}

@media (max-width: 768px) {
	.topicList {
		max-width: 100%;
		padding: 10px;
	}
}

@media (max-width: 480px) {
	.topicListCard {
		width: 100%;
	}
}



