html, body {
	overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Jersey 15", sans-serif;
  background: #00323b;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer {
  flex: 1;
  padding: 20px;
  padding-bottom: 80px;
  background: #00323b;
}

.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 40;
  font-style: normal;
}

.message {
  /* display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(175, 175, 175, 0.8); 
  text-shadow: 1px 1px 2px #2f5056;
  color: #de9a89;
  font-size: 24px;
  font-weight: bold;
  z-index: 999;
  border-top: solid #2f5056 2px;
  border-bottom: solid #2f5056 2px;
  text-shadow: 1px 1px 2px #2f5056;
  box-shadow: 1px 1px 2px #2f5056; */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw; 
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(175, 175, 175, 0.8); 
  text-shadow: 1px 1px 2px #2f5056;
  color: #de9a89;
  font-size: 24px;
  font-weight: bold;
  z-index: 999;
  border-top: solid #2f5056 2px;
  border-bottom: solid #2f5056 2px;
  text-shadow: 1px 1px 2px #2f5056;
  box-shadow: 1px 1px 2px #2f5056;
}