html, body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  background: #626F47;
  min-height: 100dvh;
  /* overflow-x: hidden; */
  overflow-y: scroll;
  scrollbar-gutter: stable;
  background-color: #626F47;
  scrollbar-width: thin;
  scrollbar-color: #A4B465 #626F47;
  
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #626F47;
}

::-webkit-scrollbar-thumb {
  background-color: #A4B465;
  border-radius: 6px;
  border: 3px solid #626F47;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.pageContainer {
  flex: 1;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 85px;
  background: #626F47;
 
}

.PT-Sans {
  font-family: "PT Sans";
  font-weight: 40;
  font-style: normal;
}

.message {
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(25, 25, 25, 0.3);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: "PT Sans";
  text-align: center;
  text-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
  pointer-events: none;
  overflow-anchor: none;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}